<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/ampersand.css" />
        <link rel="stylesheet" href="/css/dashboard.css" />
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://' + window.location.hostname + ':{{ socket.port }}');

            socket.on('connect', function() {
                // Register with the server to recieve global confbridge events
                socket.emit('confbridge');
            });

            socket.on('confbridgeEvent', function(evt) {
                console.log(evt);

                switch (evt.event.toLowerCase()) {
                    case 'confbridgelistroomscomplete':
                        var html = '';
                        for (var i = 0; i < evt.list.length; i++) {
                            html += '<tr id="conference/' + evt.list[i].conference + '">' +
                                '<td><a href="/confbridge/view/' + evt.list[i].conference + '">' + evt.list[i].conference + '</a></td>' +
                                '<td class="parties">' + evt.list[i].parties + '</td>' +
                                {% if (dial) %}'<td class="action"><a href="sip:{{ dial }}#' + evt.list[i].conference + '*">Join</a></td>' +{% endif %}
                                '</tr>';
                        }
                        document.getElementById('inprogresslist').innerHTML = html;
                        document.getElementById('inprogress').style.display = (evt.list.length) ? 'table' : 'none';
                    break;
                }
            });
        </script>
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% include 'menu.twig' %}

        <table id="inprogress">
            <caption>Conferences In Progress</caption>
            <tr>
                <th>Conference</th>
                <th>Participants</th>
                {% if (dial) %}<th></th>{% endif %}
            </tr>
            <tbody id="inprogresslist">
            </tbody>
        </table>

        {% if (confbridge.permanent|length) %}
        <table>
            <caption>Permanent Conferences</caption>
            <tr>
                <th>Conference</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Expiration</th>
                {% if (dial) %}<th></th>{% endif %}
            </tr>
            {% for conference in confbridge.permanent %}
            <tr>
                <td><a href="/confbridge/view/{{ conference.conference }}">{{ conference.conference }}</a></td>
                <td class="conference_name">{{ conference.name }}</td>
                <td>{{ conference.owner }}</td>
                <td class="expiration">None</td>
                {% if (dial) %}<td class="action"><a href="sip:{{ dial }}#{{ conference.conference }}#">Join</a></td>{% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if (confbridge.active|length) %}
        <table>
            <caption>Active Conferences</caption>
            <tr>
                <th>Conference</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Expiration</th>
                {% if (dial) %}<th></th>{% endif %}
            </tr>
            {% for conference in confbridge.active %}
            <tr>
                <td><a href="/confbridge/view/{{ conference.conference }}">{{ conference.conference }}</a></td>
                <td class="conference_name">{{ conference.name }}</td>
                <td>{{ conference.owner }}</td>
                <td class="expiration">{% if (conference.expiration) %}{{ conference.expiration }}{% else %}None{% endif %}</td>
                {% if (dial) %}<td class="action"><a href="sip:{{ dial }}#{{ conference.conference }}#">Join</a></td>{% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if (confbridge.expired|length) %}
        <table>
            <caption>Expired Conferences</caption>
            <tr>
                <th>Conference</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Expiration</th>
            </tr>
            {% for conference in confbridge.expired %}
            <tr>
                <td><a href="/confbridge/view/{{ conference.conference }}">{{ conference.conference }}</a></td>
                <td class="conference_name">{{ conference.name }}</td>
                <td>{{ conference.owner }}</td>
                <td class="expiration">{% if (conference.expiration) %}{{ conference.expiration }}{% else %}None{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

    </body>
</html>
