<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/ampersand.css" />
        <link rel="stylesheet" href="/css/dashboard.css" />

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            var socket = io.connect('http://' + window.location.hostname + ':{{ socket.port }}');

            socket.on('connect', function() {
                // Register with the server to recieve global confbridge events
                socket.emit('confbridge');
            });

            socket.on('confbridgeEvent', function(evt) {
                console.log(evt);

                switch (evt.event.toLowerCase()) {

                    // List of in-progress conferences
                    case 'confbridgelistroomscomplete':
                        var html = '';
                        for (var i = 0; i < evt.list.length; i++) {
                            html += '<tr id="conference/' + evt.list[i].conference + '">' +
                                '<td><a href="/confbridge/view/' + evt.list[i].conference + '">' + evt.list[i].conference + '</a></td>' +
                                {% if (dial) %}'<td class="action">[ <a href="sip:{{ dial }}#' + evt.list[i].conference + '*">Join</a> ]</td>' +{% endif %}
                                '<td class="parties">' + evt.list[i].parties + '</td>' +
                                '</tr>';
                        }
                        document.getElementById('inprogresslist').innerHTML = html;
                        document.getElementById('inprogress').style.display = (evt.list.length) ? 'table' : 'none';
                        break;

                    // List of permanent conferences
                    case 'confbridgelistpermanentroomscomplete':
                        var html = '';
                        for (var i = 0; i < evt.list.length; i++) {
                            html += '<tr>' +
                                '<td><a href="/confbridge/view/' + evt.list[i].conference + '">' + evt.list[i].conference + '</a></td>' +
                                {% if (dial) %}'<td class="action">[ <a href="sip:{{ dial }}#' + evt.list[i].conference + '*">Join</a> ]</td>' +{% endif %}
                                '<td class="conference_name">' + evt.list[i].name + '</td>' +
                                '<td>' + ((evt.list[i].owner) ? evt.list[i].owner : '') + '</td>' +
                                '</tr>';
                        }
                        $('#confbridge_permanent').html(html);
                        $('#confbridge_permanent').parent().css('display', ((evt.list.length) ? 'table' : ''));
                        break;

                    // List of active conferences
                    case 'confbridgelistactiveroomscomplete':
                        var html = '';
                        var myHtml = '';
                        for (var i = 0; i < evt.list.length; i++) {
                            var row = '<tr>' +
                                '<td><a href="/confbridge/view/' + evt.list[i].conference + '">' + evt.list[i].conference + '</a></td>' +
                                {% if (dial) %}'<td class="action">[ <a href="sip:{{ dial }}#' + evt.list[i].conference + '*">Join</a> ]</td>' +{% endif %}
                                '<td class="conference_name">' + evt.list[i].name + '</td>' +
                                '<td class="expiration">' + evt.list[i].expiration + '</td>' +
                                '<td>' + ((evt.list[i].owner) ? evt.list[i].owner : '') + '</td>' +
                                '</tr>';
                            html += row;
                            if (evt.list[i].owner == '{{ user }}') myHtml += row;
                        }

                        $('#confbridge_active').html(html);
                        $('#confbridge_active').parent().css('display', ((evt.list.length) ? 'table' : ''));

                        $('#confbridge_myconferences').html(myHtml);
                        $('#confbridge_myconferences').parent().css('display', ((myHtml != '') ? 'table' : ''));
                        break;

                    // List of expired conferences
                    case 'confbridgelistexpiredroomscomplete':
                        var html = '';
                        for (var i = 0; i < evt.list.length; i++) {
                            html += '<tr>' +
                                '<td><a href="/confbridge/view/' + evt.list[i].conference + '">' + evt.list[i].conference + '</a></td>' +
                                '<td class="conference_name">' + evt.list[i].name + '</td>' +
                                '<td class="expiration">' + evt.list[i].expiration + '</td>' +
                                '<td>' + ((evt.list[i].owner) ? evt.list[i].owner : '') + '</td>' +
                                '</tr>';
                        }
                        $('#confbridge_expired').html(html);
                        $('#confbridge_expired').parent().css('display', ((evt.list.length) ? 'table' : ''));
                        break;

                }
            });
        </script>
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% include 'menu.twig' %}

        <table id="inprogress">
            <caption>Conferences In Progress</caption>
            <tr>
                <th>Conference</th>
                {% if (dial) %}<th></th>{% endif %}
                <th>Participants</th>
            </tr>
            <tbody id="inprogresslist">
            </tbody>
        </table>

        <table class="conferencelist">
            <caption>Permanent Conferences</caption>
            <thead>
                <tr>
                    <th>Conference</th>
                    {% if (dial) %}<th></th>{% endif %}
                    <th>Name</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody id="confbridge_permanent"></tbody>
        </table>

        <table class="conferencelist">
            <caption>My Active Conferences</caption>
            <thead>
                <tr>
                    <th>Conference</th>
                    {% if (dial) %}<th></th>{% endif %}
                    <th>Name</th>
                    <th>Expiration</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody id="confbridge_myconferences"></tbody>
        </table>

        <table class="conferencelist">
            <caption>Active Conferences</caption>
            <thead>
                <tr>
                    <th>Conference</th>
                    {% if (dial) %}<th></th>{% endif %}
                    <th>Name</th>
                    <th>Expiration</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody id="confbridge_active"></tbody>
        </table>

        <table class="conferencelist">
            <caption>Expired Conferences</caption>
            <thead>
                <tr>
                    <th>Conference</th>
                    <th>Name</th>
                    <th>Expiration</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody id="confbridge_expired"></tbody>
        </table>

    </body>
</html>
