<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/ampersand.css" />
        <link rel="stylesheet" href="/css/confbridge/edit.css" />

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    </head>
    <body>
        <script>
            $( document ).ready(function() {
                $('#expiration').datepicker({ dateFormat: "yy-mm-dd" });
            });
        </script>
        <h1>{{ title }}</h1>
        {% include 'menu.twig' %}
        <form action="/confbridge/save" method="post">
            {% if conference.id %}
            <input type="hidden" name="id" value="{{ conference.id }}" />
            {% endif %}
            <table>
                <tr>
                    <td class="label">Conference Name</td>
                    <td><input type="text" name="name" size="30" value="{{ conference.name }}" /></td>
                    <td class="info">
                        Enter a human friendly name for this conference.
                    </td>
                </tr>
                <tr>
                    <td class="label">Conference Number</td>
                    <td><input type="text" name="conference" size="30" value="{{ conference.conference }}" /></td>
                    <td class="info">
                        This is the unique conference number callers will input to join the conference. You may use a custom conference number of any length.
                    </td>
                </tr>
                {% if (admin) %}
                <tr>
                    <td class="label">Owner</td>
                    <td><input type="text" name="owner" size="30" value="{{ conference.owner }}" /></td>
                    <td class="info">
                        Owner of this conference.
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td class="label">Expiration (YYYY-MM-DD)</td>
                    <td><input type="text" name="expiration" id="expiration" size="30" value="{{ conference.expiration }}" /></td>
                    <td class="info">
                        Enter the date the conference expires. You can change this date should you wish to extend the conference at a later time. To create a conference that does not expire, leave this blank.
                    </td>
                </tr>
                <tr>
                    <td class="label">Play Hold Music</td>
                    <td><input type="checkbox" name="music_on_hold_when_empty" {% if conference.music_on_hold_when_empty == 1 %}checked="checked" {% endif %}/></td>
                    <td class="info">
                        Play music when only one person is in the conference.
                    </td>
                </tr>
                <tr>
                    <td class="label">Quiet</td>
                    <td><input type="checkbox" name="quiet" {% if conference.quiet == 1 %}checked="checked" {% endif %}/></td>
                    <td class="info">
                        When enabled, callers will not be asked to record their names and entry/exit chimes will not be played.
                    </td>
                </tr>
                <tr>
                    <td class="label">Announce Join/Leave</td>
                    <td><input type="checkbox" name="announce_join_leave" {% if conference.announce_join_leave == 1 %}checked="checked" {% endif %}/></td>
                    <td class="info">
                        Prompts callers to record their name to announce to the group when they join or leave the conference.
                    </td>
                </tr>
                <tr>
                    <td class="label">Record Conference</td>
                    <td><input type="checkbox" name="record_conference" {% if conference.record_conference == 1 %}checked="checked" {% endif %}/></td>
                    <td class="info">
                        Record the conference calls to play back at a later time.
                    </td>
                </tr>
            </table>
            <input type="submit" value="Save" name="save" />
            <input type="submit" value="Cancel" name="cancel" />
        </form>
    </body>
</html>
