<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/ampersand.css" />
        <link rel="stylesheet" href="/css/confbridge-edit.css" />
    </head>
    <body>
        <h1>{{ title }}</h1>
        {% include 'menu.twig' %}
        <form action="/save" method="post">
            {% if conference.id %}
            <input type="hidden" name="id" value="{{ conference.id }}" />
            {% endif %}
            <table>
                <tr>
                    <td class="label">Conference Name</td>
                    <td><input type="text" name="name" size="30" value="{{ conference.name }}" /></td>
                    <td class="info">
                        Enter a brief name for the conference so you can describe which conference to join.
                    </td>
                </tr>
                <tr>
                    <td class="label">Conference Number</td>
                    <td><input type="text" name="name" size="30" value="{{ conference.conference }}" /></td>
                    <td class="info">
                        This is the code the caller will dial to join the conference. We generated a unique code for you. Feel free to change it.
                    </td>
                </tr>
                <tr>
                    <td class="label">Max Members</td>
                    <td><input type="text" name="max_members" size="30" value="{{ conference.max_members }}" /></td>
                    <td class="info">
                        This option limits the number of participants for a single conference to a specific number. By default conferences have no participant limit. After the limit is reached, the conference will be locked until someone leaves.
                    </td>
                </tr>
                <tr>
                    <td class="label">Start Muted</td>
                    <td><input type="checkbox" name="startmuted" {% if conference.startmuted == 1 %}checked="checked" {% endif %}/></td>
                    <td class="info">
                        Check to enable all participants to be muted when the conference begins. You may unmute the conference by (insert instructions here).
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
