<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/ampersand.css" />
        <link rel="stylesheet" href="/css/confbridge/view.css" />

        <script src="/socket.io/socket.io.js"></script>

        <script>
            var socket = io.connect('http://' + window.location.hostname + ':{{ config.port }}');

            socket.on('connect', function() {
                // Register with the server for this conference
                socket.emit('confbridge', {{ conference.conference }});
                // Request a list of participants
                socket.emit('confbridgelist', {{ conference.conference }});
                // Request a list of recordings
                socket.emit('confbridgerecordings', {{ conference.conference }});
            });

            // Handle confbridge events.
            socket.on('confbridgeEvent', function(evt) {
                console.log(evt);

                switch (evt.event.toLowerCase()) {

                    default: logConfbridgeEvent(evt);
                }

            });

            // Add event to event log.
            function logConfbridgeEvent(evt) {
                document.getElementById('confbridgeLog').innerHTML += '<tr>' +
                    '<td>' + evt.event + '</td>' +
                    '<td>' + evt.channel + '</td>' +
                    '</tr>';
            }

        </script>

    </head>
    <body>
        <h1>{% if (conference.name) %}{{ conference.name }}{% else %}{{ title }}{% endif %}</h1>
        {% include 'menu.twig' %}
        <table>
            <tr>
                <td class="label">Conference Number</td>
                <td>{{ conference.conference }}</td>
            </tr>

            {% if (conference.owner) %}
            <tr>
                <td class="label">Owner</td>
                <td>{{ conference.owner }}</td>
            </tr>
            {% endif %}

            <tr>
                <td class="label">Options</td>
                <td>
                    <ul class="options">
                        <li><input type="checkbox" disabled="disabled" {% if (conference.music_on_hold_when_empty) %}checked="checked" {% endif %}/>Music on Hold When Empty</li>
                        <li><input type="checkbox" disabled="disabled" {% if (conference.quiet) %}checked="checked" {% endif %}/>Quiet</li>
                        <li><input type="checkbox" disabled="disabled" {% if (conference.announce_join_leave) %}checked="checked" {% endif %}/>Announce Join/Leave</li>
                        <li><input type="checkbox" disabled="disabled" {% if (conference.record_conference) %}checked="checked" {% endif %}/>Record Conference</li>
                    </ul>
                </td>
            </tr>

            {% if (dial) %}
            <tr>
                <td class="label">Invite</td>
                <td>
                    Dial: {{ dial }}<br />
                    Conference Number {{ conference.conference }}
                </td>
            </tr>
            {% endif %}

            {% if (conference.privileged) %}
            <tr class="recordings">
                <td class="label">Recordings</td>
                <td>
                    <div class="scrollable">
                        <table id="recordings"></table>
                    </div>
                </td>
            </tr>
            {% endif %}

        </table>

        <ul class="menu">
            {% if (conference.privileged) %}
            <li><a href="/confbridge/edit/{{ conference.conference }}">Edit</a></li>
            <li><a href="/confbridge/delete/{{ conference.conference }}">Delete</a></li>
            {% endif %}
            {% if (dial) %}
            <li><a href="sip:{{ dial }}#{{ conference.conference }}">Join</a></li>
            {% endif %}
        </ul>

        {% if (conference.privileged) %}
        <table>
            <caption>Conference Participants</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Talking</th>
                    <th>Channel</th>
                    <th>Caller ID Number</th>
                    <th>Caller ID Name</th>
                </tr>
            </thead>
            <tbody id="confbridgeMembers">
            </tbody>
        </table>

        <div class="scrollable">
            <table id="confbridgeLog">
                <caption>Conference Event Log</caption>
                <tr>
                    <th>Event</th>
                    <th>Channel</th>
                </tr>
            </table>
        </div>
        {% endif %}

    </body>
</html>
