<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/ampersand.css" />
        <link rel="stylesheet" href="/css/confbridge/view.css" />

        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/util.js"></script>

        <script>
            var socket = io.connect('http://' + window.location.hostname + ':{{ socket.port }}');
            var channel = {};
            var state = {};

            socket.on('connect', function() {
                // Register with the server for this conference
                socket.emit('confbridge', {{ conference.conference }});
            });

            // Handle confbridge events.
            socket.on('confbridgeEvent', function(evt) {
                console.log(evt);

                switch (evt.event.toLowerCase()) {

                    case 'confbridgetalking':
                        var talking = evt.talkingstatus == 'on' ? 'Yes' : 'No';
                        channel[evt.channel] = talking;
                        state[evt.channel] = talking;
                        document.getElementById(evt.channel).innerHTML = talking;
                        break;

                    case 'confbridgemute':
                        logConfbridgeEvent(evt);
                        state[evt.channel] = 'Muted';
                        document.getElementById(evt.channel).innerHTML = state[evt.channel];
                        break;

                    case 'confbridgeunmute':
                        logConfbridgeEvent(evt);
                        state[evt.channel] = (channel[evt.channel]) ? channel[evt.channel] : '';
                        document.getElementById(evt.channel).innerHTML = state[evt.channel];
                        break;

                    case 'confbridgelistcomplete':
                        var html = '';
                        for (var i = 0; i < evt.list.length; i++) {
                            html += '<tr id="channel/' + evt.list[i].channel + '">' +
                                '<td class="action">[ <a href="javascript:void(0)" id="mute/' + evt.list[i].channel + '">mute</a> | <a href="javascript:void(0)" id="unmute/' + evt.list[i].channel + '">unmute</a> | <a href="javascript:void(0)" id="kick/' + evt.list[i].channel + '">kick</a> ]</td>' +
                                '<td class="status" id="' + evt.list[i].channel + '">' + ((state[evt.list[i].channel]) ? state[evt.list[i].channel] : '') + '</td>' +
                                '<td class="channel">' + evt.list[i].channel + '</td>' +
                                '<td class="calleridnum">' + evt.list[i].calleridnum + '</td>' +
                                '<td class="calleridname">' + evt.list[i].calleridname + '</td>' +
                                '</tr>';
                        }
                        document.getElementById('confbridgeMembers').innerHTML = html;
                        break;

                    case 'confbridgerecordings':
                        var html = '';
                        for (var i = 0; i < evt.recordings.length; i++) {
                            html += '<tr>' +
                                '<td class="recordingtime">' + new Date(evt.recordings[i].stats.ctime).toString() + '</td>' +
                                '<td class="recordingfile"><a href="javascript:void(0)" id="play/' + evt.recordings[i].file + '">' + evt.recordings[i].file + '</a></td>' +
                                '<td class="recordingsize">' + getBytesWithUnit(evt.recordings[i].stats.size) + '</td>' +
                            '</tr>';
                        }
                        document.getElementById('recordinglist').innerHTML = html;
                        document.getElementById('recordings').style.display = (evt.recordings.length) ? 'table-row' : 'none';
                        break;

                    default: logConfbridgeEvent(evt);
                }

            });

            // Add event to event log.
            function logConfbridgeEvent(evt) {
                var details = '';
                for (var key in evt) {
                    if (key != 'event') {
                        details += '<li>' + key + ': ' + evt[key] + '</li>';
                    }
                }
                document.getElementById('confbridgeLog').innerHTML += '<tr>' +
                    '<td class="event">' + evt.event + '</td>' +
                    '<td class="details"><ul class="log">' + details + '</ul></td>' +
                    '</tr>';
            }

            // Jquery events
            $( document ).ready(function() {
                // Handle muting a channel
                $(document).on('click', 'a[id^="mute/"]', function() {
                    socket.emit('confbridge/mute', this.id.substring(5));
                });

                // Handle unmuting a channel
                $(document).on('click', 'a[id^="unmute/"]', function() {
                    socket.emit('confbridge/unmute', this.id.substring(7));
                });

                // Handle kicking a channel
                $(document).on('click', 'a[id^="kick/"]', function() {
                    socket.emit('confbridge/kick', this.id.substring(5));
                });

                // Play a recording
                $(document).on('click', 'a[id^="play/"]', function() {
                    var file = this.id.substring(5);
                    var html = '<audio controls autoplay>' +
                        '<source src="/confbridge/recordings/{{ conference.conference }}/' + file + '" type="audio/wav">' +
                        '</audio>' +
                        '<span class="file">' + file + ' [ <a href="/confbridge/recordings/{{ conference.conference }}/' + file + '">Download</a> | <a href="javascript:void(0)" id="delete/' + file + '">Delete</a> ]</span>';
                    $('#player').html(html);
                    $(this).parent().parent().siblings().css('background-color', '');
                    $(this).parent().parent().css('background-color', '#ccffcc');
                });

                // Delete a recording
                $(document).on('click', 'a[id^="delete/"]', function() {
                    $('#player').html('');
                    socket.emit('confbridge/deleterecording', this.id.substring(7));
                });
            });

        </script>

    </head>
    <body>
        <h1>{% if (conference.name) %}{{ conference.name }}{% else %}{{ title }}{% endif %}</h1>
        {% include 'menu.twig' %}
        <table>
            <tr>
                <td class="label">Conference Number</td>
                <td>{{ conference.conference }}</td>
            </tr>

            {% if (conference.owner) %}
            <tr>
                <td class="label">Owner</td>
                <td>{{ conference.owner }}</td>
            </tr>
            {% endif %}

            <tr>
                <td class="label">Expiration</td>
                <td>{% if (conference.expiration) %}{{ conference.expiration }}{% else %}None{% endif %}</td>
            </tr>

            <tr>
                <td class="label">Options</td>
                <td>
                    <ul class="options">
                        <li><input type="checkbox" disabled="disabled" {% if (conference.music_on_hold_when_empty) %}checked="checked" {% endif %}/>Play Hold Music</li>
                        <li><input type="checkbox" disabled="disabled" {% if (conference.quiet) %}checked="checked" {% endif %}/>Quiet</li>
                        <li><input type="checkbox" disabled="disabled" {% if (conference.announce_join_leave) %}checked="checked" {% endif %}/>Announce Join/Leave</li>
                        <li><input type="checkbox" disabled="disabled" {% if (conference.record_conference) %}checked="checked" {% endif %}/>Record Conference</li>
                    </ul>
                </td>
            </tr>

            {% if (dial) %}
            <tr>
                <td class="label">Invite</td>
                <td>
                    Dial: {{ dial }}<br />
                    Conference Number: {{ conference.conference }}
                </td>
            </tr>
            {% endif %}

            {% if (controls|length) %}
            <tr>
                <td class="label">Controls</td>
                <td>
                    <table class="controls">
                        <tbody>
                            {% for key, action in controls %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ action }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endif %}

            {% if (conference.admin) %}
            <tr id="recordings" class="recordings">
                <td class="label">Recordings</td>
                <td>
                    <div id="player"></div>
                    <div class="scrollable">
                        <table class="recordings" id="recordinglist"></table>
                    </div>
                </td>
            </tr>
            {% endif %}

        </table>

        <ul class="menu">
            {% if (conference.admin) %}
            <li><a href="/confbridge/edit/{{ conference.conference }}">Edit</a></li>
            <li><a href="/confbridge/delete/{{ conference.conference }}">Delete</a></li>
            {% endif %}
            {% if (dial) %}
            <li><a href="sip:{{ dial }}#{{ conference.conference }}#">Join</a></li>
            {% endif %}
        </ul>

        {% if (conference.admin) %}
        <table>
            <caption>Conference Participants</caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Talking</th>
                    <th>Channel</th>
                    <th>Caller ID Number</th>
                    <th>Caller ID Name</th>
                </tr>
            </thead>
            <tbody id="confbridgeMembers">
            </tbody>
        </table>

        <table>
            <caption>Conference Event Log</caption>
            <thead>
                <tr>
                    <th>Event</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody class="scrollable" id="confbridgeLog">
            </tbody>
        </table>
        {% endif %}

    </body>
</html>
